/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background-color: #ffffff;
  color: white;
  padding: 2rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

nav ul li a {
  color: black !important;
  text-decoration: none;
  color: white;
  padding: 0.5rem 0.5rem;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #ffffff;
}

main {
  max-width: 1200;
  margin: auto auto;
  padding: 1 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 0px rgba(0,0,0,0);
}

section {
  padding: 1rem;
}

h1, h2 {
  color: #ffffff;
}

footer {
  text-align: center;
  padding: 0.5rem;
  background-color: #ddd;
  font-size: 0.9rem;
  margin-top: 2rem;
}
